.classPage{
    padding: 0 20px;
    z-index: 2;
    background-color: var(--background);
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    padding-top: 139px;
    padding-bottom: 20px;
}
    
.classPage .video{
    width: 900px;
    height: 540px;
    border-radius: 8px; 
    margin-top: 5px;
}

.info{
    margin:30px auto;
    color: var(--primary-color);
    text-align: center;
}

.info h1{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}

.info h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--second-color);
}

.noVideo{
    width: 900px;
    height: 540px;
    border-radius: 8px; 
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #202830;
    color: #555;
    font-size: 24px;
    font-weight: 600;
}

@media (width <= 1232px) {
    .classPage{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .classPage .video{
        width: 100%;
        height: 500px;
    }
}

@media (width <= 768px) {
   .info h1{
    font-size: 26px;
    font-weight: 700;
}

.info h2{
    font-size: 20px;
    font-weight: 600;
} 
}