.home {
  padding-top: 130px;
  color: var(--primary-color);
  font-weight: 900;
  overflow-x: hidden;
  background-color: var(--background);
}

header,
section {
  position: relative;
  width: 100vw;
  min-height: 60vh;
  overflow: hidden;
  background-color: var(--background);
  padding: 20px 50px;
  text-align: center;
}

header {
  border-bottom: var(--primary-color) 2px solid;
}

section {
  padding-bottom: 50px;
}

header img {
  margin: 30px 0;
  box-shadow: #f7df1e 0px 0px 10px 10px;
  border-radius: 15px;
}

header button {
  margin-top: 50px;
  box-shadow: var(--primary-color) 0px 0px 10px 10px;
  color: var(--second-color);
  font-weight: bold;
  font-size: 20px;
}

@media (width <= 768px) {
  header h1 {
    font-size: 26px;
    font-weight: 700;
  }
}

@media (width < 480px) {
  button {
    width: 50%;
  }
}
