.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 50px 0;
}

.modClass {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 70px;
  margin: 50px 0;
  padding: 0 20px;
}

.modClass a,
.driveLink {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  color: var(--second-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

.modClass a:not(.unavailable),
.driveLink {
  border: 2px solid var(--second-color);
}

.unavailable {
  border: 2px solid #f21818;
  color: #f21818;
}

.driveLink {
  margin: 25px auto;
}

@media (max-width: 610px) {
  .modClass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (width < 540px) {
  .list {
    margin: 0;
  }
}
