nav {
  height: 119px;
  width: 100%;
  background-color: var(--background);
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  border-bottom: 2px solid var(--primary-color);
  z-index: 10;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 100%;
  text-align: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  width: 420px;
  height: 50px;
}

nav a {
  color: var(--second-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

nav img {
  width: 117px;
  height: 117px;
}


@media (width <= 701px) {
  ul {
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
  }

  nav img {
    display: none;
  }
}
