footer{
    background-color: var(--background);
    color: var(--second-color);
    font-weight: 900;
    text-align: center;
    border-top: 2px solid var(--primary-color);
}

@media (width <= 853px) {
    nav button{
        display: none;
    }
}

@media (width < 540px) {
    footer{
        display: none;
    }
}